
@font-face {
    font-family:"Roboto-Bold";
    src:
      url("/assets/font/Roboto-Bold.ttf") ,
    
  }
  
@font-face {
    font-family:"Roboto-Regular";
    src:
      url("/assets/font/Roboto-Regular.ttf") ,
    
  }